{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
       <h1>This is a bad ass motherfucker!</h1> 
    </div>
    <div class="col-4">
        <img src="assets/img/vampire.jpg" class="img-thumbnail">
    </div>

</div>


{{>footer}}